<header class="header">
  <div class="header__container">
    <a href="#">
      <img src="./images/logo.svg" alt="logo" class="header__logo" />
    </a>
    <nav class="header__menu dextop-menu">
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__link">Компанія</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Продукція</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Статті</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Рішення</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Контакти</a>
        </li>
      </ul>
    </nav>
    <nav class="mobile-nav-menu">
      <ul class="header-mob-list">
        <li class="header__item">
          <a href="#" class="header__link">Компанія</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Продукція</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Статті</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Рішення</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Контакти</a>
        </li>
        <li class="header__item header__phone">
          <a href="tel:0(800)000000">0 (800) 00-00-00</a>
        </li>
      </ul>
      <div class="header-mob-lang">
        <div class="header__lang-item header__lang-active">UA</div>
        <div class="header__lang-item">RU</div>
      </div>
    </nav>
    <div class="header__info dextop-menu">
      <div class="header__phone">
        <a href="tel:0(800)000000">0 (800) 00-00-00</a>
      </div>
      <button class="button primary CTA">Зв’язатись</button>
      <div class="header__lang">
        <div class="header__lang-item header__lang-active">UA</div>
        <div class="header__lang-item">RU</div>
      </div>
    </div>
    <div class="mobile-menu">
      <button class="button outline CTA">Зв’язатись</button>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</header>
