<section class="hero">
  <div class="hero__container">
    <div class="swiper hero_slider">
      <div class="swiper-wrapper">
        <div class="hero_slide swiper-slide">
          <div class="brand-block">
            <h2>Meltem</h2>
            <p>
              Meltem – це гарантовано якісне вентиляційне обладнання<br />від
              німецького заводу.
            </p>
            <a href="#" class="button primary">Продукція</a>
          </div>
          <div class="hero_photo">
            <img src="./images/hero/hero-photo.png" alt="prod" />
          </div>
          <div class="info-block">
            <p class="product-name">Відцентровий витяжний вентилятор</p>
            <p class="model">Meltem V-II 30-N</p>
            <a href="#" class="button outline">Детальніше</a>
          </div>
        </div>
        <div class="hero_slide swiper-slide">
          <div class="brand-block">
            <h2>Meltem 2</h2>
            <p>
              Meltem – це гарантовано якісне вентиляційне обладнання<br />від
              німецького заводу.
            </p>
            <a href="#" class="button primary">Продукція</a>
          </div>
          <div class="hero_photo">
            <img src="./images/hero/hero-photo.png" alt="prod" />
          </div>
          <div class="info-block">
            <p class="product-name">Відцентровий витяжний вентилятор</p>
            <p class="model">Meltem V-II 30-N</p>
            <a href="#" class="button outline">Детальніше</a>
          </div>
        </div>
        <div class="hero_slide swiper-slide">
          <div class="brand-block">
            <h2>Meltem 3</h2>
            <p>
              Meltem – це гарантовано якісне вентиляційне обладнання<br />від
              німецького заводу.
            </p>
            <a href="#" class="button primary">Продукція</a>
          </div>
          <div class="hero_photo">
            <img src="./images/hero/hero-photo.png" alt="prod" />
          </div>
          <div class="info-block">
            <p class="product-name">Відцентровий витяжний вентилятор</p>
            <p class="model">Meltem V-II 30-N</p>
            <a href="#" class="button outline">Детальніше</a>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <include src="./partials/cookie.html"></include>
</section>
